<header class="site-header">

  <div class="wrapper">
    <div class="site-title-box">
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <a href="{{ site.baseurl }}/" ><img class="site-icon" src="{{ site.logo }}"></a>
    </div>

    <nav class="site-nav">
      <button id="hamburger" class="hamburger hamburger--spring menu-icon" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>

      {% assign sorted_pages = site.pages | sort:"order" %}
      <div class="trigger">
        {% for my_page in sorted_pages %}
          {% if my_page.menutitle %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.menutitle }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>
  <div id="mobile-indicator"></div>

</header>
