<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml
        " | prepend: site.baseurl | prepend: site.url }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Syncopate" rel="stylesheet">
    <link href="/css/hamburgers.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".bio-avatar, .bio-title-box").click(function () {
                if ($(".bio-content").css("color") == "rgb(0, 0, 0)") {
                    $(".bio-content").css("display", "none");
                    $(".bio-content").css("width", "55%");
                    $(".bio-content").removeClass("selected");
                    $(this).siblings(".bio-content").css("display", "inline");
                    $(this).siblings(".bio-content").css("width", "100%");
                    $(this).siblings.addClass("selected");
                    $('html, body').animate({
                        scrollTop: ($(this).offset().top)
                    },300);
                }
            });

            $( window ).resize(function() {
                //On mobile
                if ($(".bio-content").css("color") == "rgb(0, 0, 0)") {
                    $(".bio-content").css("display", "none");
                    $(".bio-content").css("width", "100%");
                    closeNav();
                }
                //On laptop 
                else if($(".bio-content").css("color") == "rgb(0, 1, 0)") {
                    $(".page-link").css("display", "inline");
                    $(".bio-content").css("display", "inline");
                    $(".bio-content").css("width", "55%");
                }
            });

            $("#hamburger").click(function(){
                if($("#hamburger").hasClass("is-active")){
                    closeNav();
                } else{
                    openNav();
                }
            });

            $(window).scroll(function() {
                closeNav();
            });

            var openNav = function() {    
                if(!$("#hamburger").hasClass("is-active")) {
                    $("#hamburger").addClass("is-active");
                    $(".trigger").css("display", "block");      
                }                    
            }

            var closeNav = function() {
                if($("#hamburger").hasClass("is-active")) {
                    $("#hamburger").removeClass("is-active");
                    $(".trigger").css("display", "none");   
                }     
            }

            function getTimeRemaining(endtime) {
                var t = Date.parse(endtime) - Date.parse(new Date());
                var seconds = Math.floor((t / 1000) % 60);
                var minutes = Math.floor((t / 1000 / 60) % 60);
                var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
                var days = Math.floor(t / (1000 * 60 * 60 * 24));
                return {
                    'total': t,
                    'days': days,
                    'hours': hours,
                    'minutes': minutes,
                    'seconds': seconds
                };
            }

            function initializeClock(id, endtime) {
                var clock = document.getElementById(id);
                var daysSpan = clock.querySelector('.days');
                var hoursSpan = clock.querySelector('.hours');
                var minutesSpan = clock.querySelector('.minutes');
                var secondsSpan = clock.querySelector('.seconds');

                function updateClock() {
                    var t = getTimeRemaining(endtime);

                    daysSpan.innerHTML = t.days;
                    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                    if (t.total <= 0) {
                    clearInterval(timeinterval);
                    }
                }

                updateClock();
                var timeinterval = setInterval(updateClock, 1000);
            }

            var deadline = new Date("February 13, 2018 00:00:00");
            initializeClock('countdown', deadline);

        });
    </script>
</head>
